                                /*********************************
                                * Overriding Bootstrap scss file *
                                **********************************/

$font-stack:    Helvetica, sans-serif;
$primary-color: rgb(29, 29, 29);
$primary-bg-color:rgb(255, 255, 255);

